.mission {
    margin-top: 20rem;
    padding: 10rem 0;
    
    &__header {
        margin-bottom: 7rem;
        .secondary__text {
            text-align: center;
            @media only screen and (max-width:500px) {
                padding: 0 1rem;
            }
        }
    }
    &__row {
        display: flex;
        @media only screen and (max-width:850px) {
            flex-direction:column;
            align-items: center;
        }
    }
    &__item {
       width:50%;
       display: flex;
       padding: 0 3rem;
        &--icon { 
            margin-right:2rem;
            img {
                max-width: 10rem;
            }
        }
        @media only screen and (max-width:850px) {
            width:90%;
            margin-bottom: 5rem;
        }
    }
}